// Vill ändra om med flex så att de två container med inkomst och utgift-lista visas bredvid varandra
@media screen and (min-width: 769px) {
    main {
        display: flex;
        article {
            width: 50%;
        }
    }
}
// Tredje breakpointen för stora skärmar vill jag bara ta upp mitten av skärmen så flexar "lådan" med everything till mitten samt ändrar bakgrundsfärger.
@media screen and (min-width: 1025px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .everything {
        width: 750px;
        border: 5px solid black;
        background-color: beige;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}